<h1>Pricing Location Address</h1>

<%= form_tag prepare_path, :method => :get do %>

  <%= select_tag(:q, options_for_select(@formatted_addresses, params[:address])) %>

  <%= submit_tag 'Find Location', name: "address" %>
<% end %>
