/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxygen-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oxygen Regular'), local('Oxygen-Regular'),
       url('../fonts/oxygen-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oxygen-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oxygen-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oxygen-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oxygen-v7-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}

body {
  text-align: center;
  background-color: #f5f5f5;
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-size: 2vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

h1 {
  margin-bottom: 10%;
  font-size: 5vh;
}

h2 {
  margin-bottom: 20%;
  font-size: 3vh;
}

.form-control {
  margin-bottom: 8%;
  height: 4vh;
}

.btn-primary {
  background-image: linear-gradient(to right, #7da72f, #94c63b);
  outline: 0px solid transparent;
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-size: 30px;
  border-color: green;
}


.logo {
  width: 80%;
  margin-bottom: 10%;
}

label {
  margin-bottom: 6%;
}

.tiny_logo {
  width: 30%;
  height: 30%;
}

.login-button {
  margin-top: 8%
}

td {
  text-align: left
}

.prepare-label {
  background-color: #DDE2F6;
  color: #353A3F;
  margin-top: 1vh;
  text-shadow: 1px 1px #3B3BBF;
}


a { color: inherit; }
a:hover {
  color: inherit;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration:none;
  cursor:pointer;
}

.form-control {
  font-size: 100%;
}

.map-label {
  background-color: #94c63b;
  color: #353A3F;
  text-shadow: 1px 1px #3B3BBF;
}
